# Product Service
PRODUCT_DB_USER=postgres
PRODUCT_DB_PASSWORD=postgres
PRODUCT_DB_NAME=product_db
PRODUCT_DB_HOST=product-db
PRODUCT_DB_PORT=5432

# Payment Service
PAYMENT_DB_USER=postgres
PAYMENT_DB_PASSWORD=postgres
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_HOST=payment-db
PAYMENT_DB_PORT=5432
STRIPE_API_KEY=your_stripe_api_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Coupon Service
MONGODB_URI=mongodb://coupon-db:27017/coupon_db
